<h1>Customers! details view </h1>


{{range $idx, $item := .customers}}<table>
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>E-mail</th>
    </tr>
    <tr>
        <td>{{ $item.FirstName}}</td>
        <td>{{$item.LastName}}</td>
        <td>{{$item.Email}}</td>
    </tr>
</table>
{{end}}

<p>END</p>