<h1>Customer details view </h1>

<table>
    <tr>
        <th>Name</th>
        <th>Last name</th>
        <th>E-mail</th>
    </tr>
    <tr>
        <td>{{.FirstName}}</td>
        <td>{{.LastName}}</td>
        <td>{{.Email}}</td>
    </tr>
</table> 